html, body {
    height: 100%;
    margin: 0;
    background-color: #f3f4f7;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -100px;
}
.footer-padding{
  padding-top: 50px;
  margin-top: 0px;
}
.footer-p{
  padding-bottom: 20px;
  padding-top: 50px;
}
.form-floating .form-select.registration-select{
  padding-top: 10px;
  padding-bottom: 10px;
}
.timer-input{
  border: none;
  background: none;
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}